@use "custom";
@use "mixins";
@use "extends";
@use "global";

/*--------------------------------------------------------------
                        # About Section
--------------------------------------------------------------*/

.about-section {
    @include d-flex(flex, start, start, column, start);

    background: rgba(144, 238, 144, 0.1);
    overflow: hidden;
    width: 100%;

    .about-container {
        @include d-flex(flex, start, start, column, start);
        gap: 2em;
        width: 100%;

        h2 {
            font-size: 2em;
            font-weight: bold;
            padding-bottom: 0.5em;
            position: relative;
            color: $dark-green;

            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 2em;
                height: 0.1em;
                background: $primary-green;
                bottom: 0;
                left: 0;
            }
        }

        .about-content {
            @include d-flex(flex, start, start, row, start);
            gap: 5em;

            .about-container-left {
                width: 50%;

                p {
                    margin-bottom: 3em;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    span.first-sentence {
                        font-size: 1.3em;
                        font-weight: 600;
                        display: block;
                        margin-bottom: 0.5em;
                        color: $primary-green;
                    }

                    span {
                        color: $dark-green;
                        font-weight: 700;
                    }
                }
            }

            .about-container-right {
                width: 50%;

                &:last-child {
                    margin-bottom: 0;
                }

                p {
                    margin-bottom: 2.5em;

                    span.first-sentence {
                        font-size: 1.3em;
                        font-weight: 600;
                        display: block;
                        margin-bottom: 0.5em;
                        color: $primary-green;
                    }

                    span {
                        color: $dark-green;
                        font-weight: 700;
                    }
                }

                ul{
                    line-height: 1.7em;
                    padding: 2em;
                    background-color: rgba($primary-green, 0.1);
                    line-height: 2em;

                    li{
                        font-weight: 600;
                        color: $dark-green;
                        font-size: 1em;

                        span{
                            color: $background;
                            font-weight: 400;
                        }
                    }

                    i{
                        color: $primary-green;
                    }
                }
            }
        }
    }

    // Responsive styles for small screens
    @media (min-width: 320px) and (max-width: 768px) {
        .about-container {
            .about-content {
                @include d-flex(flex, center, start, column, start);
                gap:3em;

                .about-container-right {
                    width: 100%;
                }

                .about-container-left {
                    width: 100%;
                }
            }
        }
    }
}