@use "custom";
@use "mixins";
@use "extends";
@use "global";

/* -------------------------------------------------------
                    Display page
---------------------------------------------------------*/
.admin-portfolio {
  @include d-flex(flex, start, start, column, center);
  background: rgba(144, 238, 144, 0.1);
  height: 100vh;

  h1 {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 0.5em;
    padding-top: 1em;
    position: relative;
    color: $dark-green;
    margin-bottom: 2em;
    margin-left: 2em;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 2em;
      height: 0.1em;
      background: $primary-green;
      bottom: 0;
      left: 0;
    }
  }

  .section-portfolio {
    height: auto;
    width: calc(100% - 8em);
    margin: 0 4em;
    overflow-x: auto;
    padding-bottom: 2em;

    table {
      width: 100%;
      border: 1px solid $primary-green;
      border-collapse: collapse;

      thead {
        tr {
          th {
            background-color: $background;
            color: $light-green;
            padding: 1em;
            border: 1px solid $light-green;
            font-size: 1.2em;
            font-weight: 800;
            text-transform: uppercase;
          }
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background-color: rgba($light-gray, 0.2);
          }
          td {
            border: 1px solid $primary-green;
            padding: 1em;
            word-wrap: break-word;
          }

          a {
            color: $dark-green;
            font-weight: 600;

            &:hover {
              color: $primary-green;
            }

            i {
              color: $dark-green;
              font-weight: 600;
              cursor: pointer;
              margin-left: 1em;
            }
          }
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 1024px) {
    @include d-flex(flex, start, start, column, start);
    overflow-x: hidden;
    padding: 0 1em;

    h1 {
      font-size: 1.5em;
      margin: 2em 0.5em;
    }

    .section-portfolio{
      margin: 0 auto;
      width: 100%;
  }
  }
}
