@use "custom";
@use "mixins";
@use "extends";
@use "global";

/* -------------------------------------------------------
                    Display page
---------------------------------------------------------*/
.admin-portfolio {
  @include d-flex(flex, center, start, column, center);
  background: rgba(144, 238, 144, 0.1);

  h1 {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 0.5em;
    padding-top: 2em;
    position: relative;
    color: $dark-green;
    margin-bottom: 1em;
    margin-left: 2em;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 2em;
      height: 0.1em;
      background: $primary-green;
      bottom: 0;
      left: 0;
    }
  }

  .section-portfolio {
    height: auto;
    width: calc(100% - 8em); 
    margin: 0 4em; 
    overflow-x: auto; 
    padding-bottom: 2em; 

    table {
      width: 100%;
      border: 1px solid $primary-green;
      border-collapse: collapse;

      thead {
        tr {
          th {
            border: 1px solid $primary-green;
            padding: 1em;
            color: $dark-green;
            font-size: 1.2em;
            font-weight: 800;
          }
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background-color: rgba(144, 238, 144, 0.3);
          }
          td {
            border: 1px solid $primary-green;
            padding: 1em;
            word-wrap: break-word;
          }
        }
      }
    }
  }
}
