/* -------------------------------------------------------
                      Custom colors
---------------------------------------------------------*/
$primary-red: rgb(240, 84, 85);
$primary-blue: rgb(48, 71, 94);
$secondary-blue: rgb(132, 192, 225);
$tertiary-blue: rgb(193, 224, 240);
$dark-blue: rgb(34, 40, 49);
$light-blue: rgb(234, 245, 250);
$yellow: rgb(245, 240, 142);

$box-shadow-primary: 0px 3px 5px 0px rgba(71, 71, 71, 0.66);
$text-shadow-primary: 1px 1px rgba(71, 71, 71, 0.66);

/* -------------------------------------------------------
                    Google fonts
---------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');
