/* -------------------------------------------------------
                      Custom colors
---------------------------------------------------------*/
$primary-red: rgb(240, 84, 85);
$primary-blue: rgb(48, 71, 94);
$secondary-blue: rgb(132, 192, 225);
$tertiary-blue: rgb(193, 224, 240);
$dark-blue: rgb(34, 40, 49);
$light-blue: rgb(234, 245, 250);
$yellow: rgb(245, 240, 142);

$box-shadow-primary: 0px 3px 5px 0px rgba(71, 71, 71, 0.66);
$text-shadow-primary: 1px 1px rgba(71, 71, 71, 0.66);

/* -------------------------------------------------------
                    Google fonts
---------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@each $weight in (100, 200, 300, 400, 500, 600, 700, 800, 900) {
  $font-weight: unquote('#{$weight}');

  .poppins-#{$font-weight} {
    font-family: "Poppins", sans-serif;
    font-weight: $font-weight;
    font-style: normal;
  }

  .poppins-#{$font-weight}-italic {
    font-family: "Poppins", sans-serif;
    font-weight: $font-weight;
    font-style: italic;
  }
}