@use 'mixins';
@use 'sass-customized';


/* -------------------------------------------------------
                Define extend for header image
---------------------------------------------------------*/
%header-image {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  h1 {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $light-blue;
    font-family: "Chelsea Market", system-ui;
    font-weight: bold;
    font-size: 3rem;
    z-index: 2;
    text-shadow: $text-shadow-primary;
  }

  p {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $light-blue;
    font-size: 1.3rem;
    font-weight: 300;
    z-index: 3;
  }
}

/* -------------------------------------------------------
        Define extend for information top
---------------------------------------------------------*/
%information-top {
  background-color: $tertiary-blue;

  .container {
    flex-direction: column;
  }
}

/* -------------------------------------------------------
        Define extend for information bottom
---------------------------------------------------------*/
%information-bottom {
  display: flex;
  flex-direction: row;
  gap: 2em;

  .information-bottom-left {
    width: 100%;
    max-width: 100%;
    justify-content: flex-start;
  }

  .information-bottom-right {
    width: 40%;
    justify-content: flex-end;
    background-color: $primary-blue;
    text-align: center;
    padding: 2em;
    color: $light-blue;

    h3 {
      font-family: "Great Vibes", cursive;
      font-size: 2em;
      color: $light-blue;
      letter-spacing: 0.2rem;
    }

    ul {
      padding: 0;
      margin-bottom: 0;

      a {
        color: $secondary-blue;
        font-weight: 200;
        font-size: 1.1rem;

        @include hover("background-color",
          $primary-blue,
          "color",
          $primary-red );
      }
    }
  }
}


/* -------------------------------------------------------
        Define extend for product price
---------------------------------------------------------*/
%product-price {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 30%;
  height: auto;
  border-left: 1px solid $primary-blue;
  padding: 3em 2em;

  p {
    text-align: start;
    font-weight: 700;
    line-height: 1.5em;
    text-align: justify;
    padding: 0.5em 0;
    color: $primary-red;
    font-size: 2em;

    span {
      font-weight: 200;
      font-size: 0.5em;
      display: block;
      line-height: 1.5em;

      &:first-child {
        margin-top: 1em;
      }

      i {
        margin-right: 0.5em;
      }
    }
  }

  .btn-primary {
    text-align: start;
    margin-top: 2em;

    i {
      margin-right: 0.5em;
    }

    @include hover("background-color", $secondary-blue, "color", $primary-blue);
  }
}

/* -------------------------------------------------------
        Define extend for advantage icons
---------------------------------------------------------*/
%advantage-icons {
  width: 100%;
  height: auto;
  background-color: $tertiary-blue;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 3em 0;

  article {
    flex: 0 0 auto;
    width: 14em;
    height: auto;

    img {
      width: 100%;
      max-width: 100px;
      height: auto;
    }

    h3,
    p {
      text-align: center;
    }
  }
}


@forward '%header-image';
@forward '%information-top';
@forward '%information-bottom';
@forward '%product-price';
@forward '%advantage-icons';