/* -------------------------------------------------------
                 Define a mixin for hover
---------------------------------------------------------*/

@mixin hover($bgProperty, $bgValue, $colorProperty, $colorValue) {
  &:hover {
    #{$bgProperty}: $bgValue;
    #{$colorProperty}: $colorValue;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
}
/* -------------------------------------------------------
               Define mixin for d-flex styles
---------------------------------------------------------*/
@mixin d-flex($display: flex, $justify: center, $align: center, $direction: column, $text-align: center) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  text-align: $text-align;
}

// @include d-flex(flex, center, center, column, center);


@forward "hover";
@forward "d-flex";
