/* -------------------------------------------------------
                 Define a mixin for hover
---------------------------------------------------------*/

@mixin hover($bgProperty, $bgValue, $colorProperty, $colorValue) {
  &:hover {
    #{$bgProperty}: $bgValue;
    #{$colorProperty}: $colorValue;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
}
/* -------------------------------------------------------
               Define mixin for button styles
---------------------------------------------------------*/
@mixin button-style($bg-color, $text-color) {
  background-color: $bg-color;
  text-align: center;
  border-radius: 5px;
  padding: 0.4rem 1rem;
  color: $text-color;
  z-index: 1000;
  cursor: pointer;

  // Include hover mixin for button
  @include hover("background-color", $primary-green, "color", $light-green);
}

// Apply mixin for primary button
.btn-primary {
  @include button-style($primary-red, $light-green);
}

// Apply mixin for secondary button
.btn-secondary {
  @include button-style($primary-green, $light-green);
}


@forward "hover";
@forward "button-style";
