@use 'custom';
@use 'mixins';
@use 'extends';
@use "global";

/* -------------------------------------------------------
                    Home header
---------------------------------------------------------*/
// Header
#header {
  @extend %header;
  @include d-flex(flex, start, center, column, center);
  height: $navbarHeightPercentage;
  position: fixed;
  top: 0;
  left: 0;
  width: 20em;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  padding: 1em;
  background: $background;
  overflow-y: hidden;

  // Responsive styles for small screens
  @media (min-width: 320px) and (max-width: 768px) {
    display: none;
    height: 100%;
  }
}

// Navigation Menu
.nav-menu {
  padding-top: 1.5em;

  * {
    margin: 0;
    padding: 0;
    list-style: none;

    // Responsive styles for small screens
    @media (min-width: 320px) and (max-width: 768px) {
      margin-left: 0.5em;
    }
  }

  > ul > li {
    position: relative;
    white-space: nowrap;
  }

  a,
  a:focus {
    display: flex;
    align-items: center;
    color: $light-gray;
    padding: 0.6em 0.8em;
    margin-bottom: 0.5em;
    transition: 0.3s;
    font-size: 1em;

    i,
    &:focus i {
      font-size: 1em;
      padding-right: 0.5em;
      color: $gray;
    }

    &:hover,
    &.active,
    &:focus {
      @include hover("color", $light-green, "background-color", $background);

      i {
        color: $primary-green;
      }
    }
  }

  .btn-resume {
    a {
      background-color: $gray;
      text-align: center;
      padding: 0.5em 2em;
      border-radius: 0.3em;
      transition:
        background-color 0.3s,
        color 0.3s;

      &:hover {
        @include hover("background-color", $primary-green, "color", $light-green);
      }

      // Responsive styles for small screens
      @media (min-width: 320px) and (max-width: 768px) {
        width: 90%;
        align-items: center;
        justify-content: center;
      }
    }

  }
}

/* -------------------------------------------------------
                   Offcanvas menu
---------------------------------------------------------*/
.sidenav {
  @extend %header;

  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: $background;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 5em;

  .closebtn {
    position: absolute;
    top: 0;
    right: 0.5em;
    font-size: 3em;
    margin-left: 6em;

    &:hover {
      @include hover ("background-color", $background, "color", $primary-green);
    }
  }
}

/* Hamburger icon styles */
.navbar-hamburger {
  display: none;

  // Responsive styles for small screens
  @media (min-width: 320px) and (max-width: 1199px) {
    @include d-flex(flex, center, center, column, center);

    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 9999;
    background-color: $primary-green;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    cursor: pointer;


    i {
      font-size: 1em;
      color: $light-green;
    }
  }
}
