@use 'mixins';
@use 'extends';
@use 'custom';

/* -------------------------------------------------------
                    Home header
---------------------------------------------------------*/
// Header
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 18em;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  padding: 0 15px;
  background: $background;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .profile {
    img {
      margin: 1em auto;
      display: block;
      width: 10em;
      border: 0.5em solid $gray;
    }

    h1 {
      font-size: 1.5em;
      margin: 0;
      padding: 0;
      font-weight: 600;

      a,
      a:hover {
        color: $light-green;
        text-decoration: none;
      }
    }

    .social-links a {
      font-size: 1em;
      display: inline-block;
      background: $gray;
      color: $light-green;
      line-height: 1;
      padding: 0.5em 0;
      margin-right: 4px;
      border-radius: 50%;
      text-align: center;
      width: 2em;
      height: 2em;
      margin-top: 1em;
      transition:
        0.5s ease,
        color 0.5s ease;

      &:hover {
        @include hover("background-color", $primary-green, "color", $light-green);
      }
    }
  }
}

// Main Content
#main {
  margin-left: 20em;
}

.container,
.container-fluid {
  padding-left: 2em;
  padding-right: 2em;

  @media (max-width: 1199px) {
    padding-left: 1em;
    padding-right: 1em;
  }
}

// Navigation Menu
.nav-menu {
  padding: 2em 0 0 0;

  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  > ul > li {
    position: relative;
    white-space: nowrap;
  }

  a,
  a:focus {
    display: flex;
    align-items: center;
    color: $light-gray;
    padding: 0.8em 1em;
    margin-bottom: 0.5em;
    transition: 0.3s;
    font-size: 1em;

    i,
    &:focus i {
      font-size: 2em;
      padding-right: 0.5em;
      color: $gray;
    }

    &:hover,
    &.active,
    &:focus {
      text-decoration: none;
      color: $light-green;

      i {
        color: $primary-green;
      }
    }
  }
}

/* -------------------------------------------------------
                   Offcanvas menu
---------------------------------------------------------*/
.navbar-hamburger {
  display: flex;
  justify-content: center;
  background-color: $primary-green;
  color: $light-green;
  padding: 0.5rem;
  cursor: pointer;

  i {
    font-size: 1.5em;
    @include hover("background-color", $primary-green, "color", $primary-red);
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $primary-green;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5em;
  z-index: 1000;

  .closebtn {
    position: absolute;
    top: 0;
    right: 1em;
    font-size: 1.5em;
    color: $light-green;

    @include hover("background-color", $primary-green, "color", $primary-red);
  }

  .search-group {
    margin: 2em 1em;

    .btn-search {
      background-color: $secondary-green;
      @include hover("background-color", $primary-red, "color", $light-green);
    }
  }

  a {
    padding: 1em;
    text-decoration: none;
    font-size: 1em;
    color: $light-green;
    display: block;

    @include hover("background-color", $primary-red, "color", $light-green);
  }

  .btn-login {
    background-color: $primary-red;
    margin: 2em 1em;
    text-align: center;
    padding: 0.5em 1em;
    border-radius: 5px;

    @include hover("background-color", $secondary-green, "color", $primary-green);
  }

  /* Social Icons styles for small screens */
  .social-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
  }

  .social-item {
    font-size: 1.2em;
    margin: 0;

    .social-link {
      color: $secondary-green;

      @include hover("color", $primary-red, "background-color", $primary-green);
    }
  }
}

/* -------------------------------------------------------
         Offcanvas styles for smaller screens
---------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 768px) {
  #hamburger {
    display: block;
  }

  .navbar-menu {
    display: none;
  }
}

/* -------------------------------------------------------
         Offcanvas styles for larger screens
---------------------------------------------------------*/
@media (min-width: 769px) {
  #hamburger,
  .sidenav,
  .closebtn {
    display: none;
  }
}
