@use "custom";
@use "mixins";
@use "extends";
@use "global";

/*--------------------------------------------------------------
                        # Portfolio Section
--------------------------------------------------------------*/

.portfolio-section {
    @include d-flex(flex, start, start, column, start);

    background: rgba(144, 238, 144, 0.1);
    overflow: hidden;
    width: 100%;

    .portfolio-content {
        @include d-flex(flex, start, start, column, start);
        gap: 2em;
        width: 100%;

        .section-title {
            h2 {
                font-size: 2em;
                font-weight: bold;
                padding-bottom: 0.5em;
                position: relative;
                color: $dark-green;

                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 2em;
                    height: 0.1em;
                    background: $primary-green;
                    bottom: 0;
                    left: 0;
                }
            }

            p {
                margin-top: 2em;
            }
        }

        .portfolio-container {
            @include d-flex(flex, space-between, center, row, start);
            gap: 2em;
            width: 100%;

            .portfolio-items {
                @include d-flex(flex, end, end, column, center);
                margin-bottom: 2em;
                width: 25em;
                height: 18em;
                background-color: $primary-blue;


                .portfolio-item-top{
                    @include d-flex(flex, center, center, column, center);
                    flex: 1;
                    
                    img{
                        width: 90%;
                    }
                    
                }

                .portfolio-wrap {
                    @include d-flex(flex, end, center, column, center);
                    transition: 0.3s;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    width: 100%;
                    height: 8em;

                    .portfolio-links-top {
                        @include d-flex(flex, center, center, row, center);
                        width: 100%;
                        height: 4em;
                        background-color: $primary-yellow;
                        border-bottom: 1px solid $light-green;
                        background-color: $primary-yellow;
                        color: $light-green;
                        font-weight: 600;
                        opacity: 1;
                        transition: all ease-in-out 0.5s;

                        i {
                            font-size: 1.2em;
                            color: $light-green;
                            align-items: center;
                            margin-right: 0.5em;
                        }

                        &:hover {
                            background-color: $primary-green;
                        }
                    }

                    .portfolio-links-bottom {
                        @include d-flex(flex, center, center, row, center);
                        width: 100%;

                        .portfolio-link-left,
                        .portfolio-link-right {
                            @include d-flex(flex, center, center, row, center);
                            width: 50%;
                            height: 4em;
                            border-right: 1px solid $light-green;
                            background-color: $dark-green;
                            color: $light-green;
                            font-weight: 600;
                            opacity: 1;
                            transition: all ease-in-out 0.5s;

                            i {
                                font-size: 1.2em;
                                color: $light-green;
                                align-items: center;
                                margin-right: 0.5em;
                            }

                            &:hover {
                                background-color: $primary-green;
                            }
                        }
                    }
                }
            }
        }
    }
}
