@use "custom";
@use "mixins";
@use "extends";
@use "global";

/*--------------------------------------------------------------
                     Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
    @include d-flex(flex, start, start, column, start);

    background: rgba(144, 238, 144, 0.1);
    overflow: hidden;
    width: 100%;

    .section-title {
        @include d-flex(flex, start, start, column, start);
        gap: 2em;
        width: 100%;

        h2 {
            font-size: 2em;
            font-weight: bold;
            padding-bottom: 0.5em;
            position: relative;
            color: $dark-green;

            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 2em;
                height: 0.1em;
                background: $primary-green;
                bottom: 0;
                left: 0;
            }
        }
    }

    .portfolio-details-container {
        @include d-flex(flex, center, center, column, center);

        .portfolio-details-top {
            @include d-flex(flex, center, center, column, center);
            gap: 2em;
            width: 100%;
            margin: 3em 0;

            .portfolio-details-slider {
                width: 100%;
                border: 1px solid $primary-green;

                .swiper-wrapper {
                    .swiper-slide {
                        width: 100%;
                        display: flex;

                        img {
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }

            }

            .swiper-pagination {
                margin-top: 0.5em;
                position: relative;

                .swiper-pagination-bullet {
                    width: 1em;
                    height: 1em;
                    background-color: $light-green;
                    opacity: 1;
                    border: 1px solid $primary-green;

                    &-active {
                        background-color: $primary-green;
                    }
                }
            }

            .portfolio-info {
                @include d-flex(flex, center, center, column, center);
                width: 100%;
                box-shadow: $box-shadow-primary;
                padding: 2em;
                

                h3 {
                    font-size: 1.5em;
                    font-weight: 700;
                    border-bottom: 1px solid $dark-green;
                    width: 100%;
                    padding-bottom: 0.5em;
                    color: $dark-green
                }

                .portfolio-info-container{
                    @include d-flex(flex, center, start, row, center);
                    width: 100%;
                    gap: 2em;
                    padding: 2em 0;

                    h4{
                        font-size: 1.5em;
                        color: $primary-green;
                        margin-bottom: 2em;
                    }
                    
                    .portfolio-info-left{
                        width: 50%;

                        .portfolio-info-icons{
                            @include d-flex(flex, center, start, row, center);

                            .portfolio-info-icon{
                                @include d-flex(flex, center, center, column, center);
                                width: 33%;
                                
                                img{
                                    width: 3em;
                                    margin-bottom: 0.5em;
                                }

                                p{
                                    text-align: center;
                                    width: 100%;
                                    font-weight: 500;
                                    margin-top: 0.3em;
                                }
                            }
                        }
                    }
    
                    .portfolio-info-right{
                        width: 50%;
                        border-left: 1px solid $dark-green;

                        .portfolio-info-icons{
                            @include d-flex(flex, center, start, row, center);

                            .portfolio-info-icon{
                                @include d-flex(flex, center, center, row, center);
                                width: 100%;
                                flex-wrap: wrap;
                                
                                img{
                                    width: 3em;
                                    margin-bottom: 0.5em;
                                }

                                p{
                                    text-align: center;
                                    width: 100%;
                                    font-weight: 500;
                                    margin-top: 0.3em;
                                }
                            }
                        }
                    }
                }
            }
        }

        .portfolio-details-bottom {
            .portfolio-description {
                padding-top: 3em;

                h2 {
                    font-size: 2.5em;
                    font-weight: 700;
                    margin-bottom: 2.5em;
                }

                p {
                    padding: 0;
                }
            }
        }
    }
}
