@use "custom";
@use "mixins";
@use "extends";
@use "global";

/*--------------------------------------------------------------
                        # Services Section
--------------------------------------------------------------*/
.services-section {
    @include d-flex(flex, start, start, column, start);

    background: rgba(144, 238, 144, 0.2);
    overflow: hidden;
    width: 100%;

    .services-content {
        @include d-flex(flex, start, start, column, start);
        gap: 2em;
        width: 100%;

        .section-title {
            h2 {
                font-size: 2em;
                font-weight: bold;
                padding-bottom: 0.5em;
                position: relative;
                color: $dark-green;

                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 2em;
                    height: 0.1em;
                    background: $primary-green;
                    bottom: 0;
                    left: 0;
                }
            }

            p {
                color: $dark-green;
                font-weight: 600;
                font-size: 1.1em;
                margin-top: 1.5em;
                line-height: 1.8em;
            }
        }

        .services-container {
            @include d-flex(flex, center, center, row, start);
            gap: 2em;
            width: 100%;

            .services-item {
                @include d-flex(flex, center, center, row, center);
                width: 50%;
                gap: 1em;
                padding: 2em;

                .image-container {
                    position: relative;
            
                    .icon,
                    .hover-icon {
                        display: block;
                        width: 5em;
                        height: auto;
                    }
            
                    .hover-icon {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        transition: opacity 0.3s ease;
                    }
                }
            
                &:hover {
                    .hover-icon {
                        opacity: 1;
                    }
                }

                .services-item-content {
                    @include d-flex(flex, center, start, column, start);

                    h4{
                        font-size: 1.3em;
                        font-weight: 600;
                        margin-bottom: 0.3em;
                        color:$dark-green;
                    }
                }
            }
        }
    }
}
