@use "custom";
@use "mixins";
@use "extends";
@use "global";

/*--------------------------------------------------------------
                        # Skills Section
--------------------------------------------------------------*/

.skills-section {
    @include d-flex(flex, start, start, column, start);

    background-color: rgba($primary-green, 0.2);
    overflow: hidden;
    width: 100%;

    .skills-container {
        @include d-flex(flex, start, start, column, start);
        gap: 2em;
        width: 100%;

        h2 {
            font-size: 2em;
            font-weight: bold;
            padding-bottom: 0.5em;
            position: relative;
            color: $dark-green;

            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 2em;
                height: 0.1em;
                background: $primary-green;
                bottom: 0;
                left: 0;
            }
        }

        .skills-content {
            @include d-flex(flex, start, start, row, start);
            gap: 5em;
            width: 100%;

            .skills-container-left {
                width: 50%;

                .progress {
                    height: 4em;
                    display: block;
                    background: none;
                    border-radius: 0;

                    .skill {
                        padding: 0;
                        margin: 0 0 0.5em 0;
                        text-transform: uppercase;
                        display: block;
                        font-weight: 600;
                        font-family: "Poppins", sans-serif;
                        color: $background;

                        .val {
                            float: right;
                            font-style: normal;
                          }
                    }

                    .progress-bar-wrap {
                        background:$light-gray;
                        height: 0.8em;

                        .progress-bar {
                            width: 1px;
                            height: 0.8em;
                            transition: 0.9s;
                            background-color: $primary-green;
                      }
                    }
                }
            }

            .skills-container-right {
                width: 50%;

                .progress {
                    height: 4em;
                    display: block;
                    background: none;
                    border-radius: 0;

                    .skill {
                        padding: 0;
                        margin: 0 0 6px 0;
                        text-transform: uppercase;
                        display: block;
                        font-weight: 600;
                        font-family: "Poppins", sans-serif;
                        color: $background;

                        .val {
                            float: right;
                            font-style: normal;
                          }
                    }

                    .progress-bar-wrap {
                        background:$light-gray;
                        height: 0.8em;

                        .progress-bar {
                            width: 1px;
                            height: 0.8em;
                            transition: 0.9s;
                            background-color: $primary-green;
                      }
                    }
                }
            }
        }
    }

    // Responsive styles for small screens
    @media (min-width: 320px) and (max-width: 768px) {
        .skills-container {
            .skills-content {
                @include d-flex(flex, center, start, column, start);
                gap:0.5em;

                .skills-container-right {
                    width: 100%;
                }

                .skills-container-left {
                    width: 100%;
                }
            }
        }
    }
}
