@use "custom";
@use "mixins";
@use "extends";
@use "global";

/*--------------------------------------------------------------
                        # Skills Section
--------------------------------------------------------------*/

.skills-section {
    @include d-flex(flex, start, start, column, start);

    background: $light-green;
    overflow: hidden;
    width: 100%;

    .skills-container {
        @include d-flex(flex, start, start, column, start);
        gap: 2em;
        width: 100%;

        h2 {
            font-size: 2em;
            font-weight: bold;
            padding-bottom: 0.5em;
            position: relative;
            color: $dark-green;

            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 2em;
                height: 0.1em;
                background: $primary-green;
                bottom: 0;
                left: 0;
            }
        }

        .skills-content {
            @include d-flex(flex, start, start, row, start);
            gap: 5em;

            .skills-container-left,
            .skills-container-right {
                width: 50%;

                .skills {
                    .progress {
                        height: 60px;
                        display: block;
                        background: none;
                        border-radius: 0;

                        .skill {
                            padding: 0;
                            margin: 0 0 6px 0;
                            text-transform: uppercase;
                            display: block;
                            font-weight: 600;
                            font-family: "Poppins", sans-serif;
                            color: $background;

                            .val {
                                float: right;
                                font-style: normal;
                            }
                        }
                    }

                    .progress-bar-wrap {
                        background: #dce8f8;
                        height: 10px;
                    }

                    .progress-bar {
                        width: 1px;
                        height: 10px;
                        transition: 0.9s;
                        background-color: #149ddd;
                    }
                }
            }
        }
    }
}