@use "custom" as *;
@import "mixins";
@import "extends";
@import "global";

/* -----------------------------------------------------------------
                            Login page
 ----------------------------------------------------------------- */

 .login {
  @include d-flex(flex, center, center, column, center);
  background-color: $light-green;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;

  .login-container {
    @include d-flex(flex, center, center, column, center);

    .login-title {
      @include d-flex(flex, start, start, column, start);
      gap: 2em;
      width: 100%;

      h2 {
        font-size: 2em;
        font-weight: bold;
        padding-bottom: 0.5em;
        position: relative;
        color: $dark-green;
        margin-bottom: 1em;

        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 4em;
          height: 0.1em;
          background: $primary-green;
          bottom: 0;
          left: 0;
        }
      }
    }

    .login-content {
      @include d-flex(flex, center, center, column, center);
      background-color: $background;
      padding: 2em;
      border-radius: 1em;
      max-width: 30em;
      width: 100%;
      z-index: 3;

      .login-form {
        @include d-flex(flex, center, center, column, center);
        width: 100%;

        .form-ctrl {
          width: 100%;
          margin-bottom: 1em;

          &:last-child {
            margin-bottom: 0;
          }

          label {
            color: $light-green;
            font-weight: 300;
            font-size: 1em;
          }

          input {
            width: 100%;
            padding: 0.6em;
            border: 1px solid $light-gray;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 1em;
            resize: vertical;
            outline: none;
          }

          input::placeholder,
          textarea::placeholder {
            font-family: "Poppins", sans-serif;
            font-size: small;
            font-style: italic;
            color: $light-green;
          }

          input:focus,
          select:focus,
          textarea:focus {
            border: 1px solid $light-gray;;
            box-shadow: 0 0 10px rgba(48, 71, 94, 0.9);
          }

          input:focus-visible,
          select:focus-visible,
          textarea:focus-visible {
            outline: 1px solid $light-gray;;
          }
        }

        p {
          color: $primary-green;
          text-align: end;
          font-size: 0.9em;
          font-weight: 400;
        }

        .btn-primary {
          margin-top: 2em;
          padding: 0.5em 5em;

          @include hover("background-color", $primary-green, "color", $light-green);
        }
      }

      .background-vector {
        background-color: $primary-green;

        img {
          height: auto;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: -1;
        }
      }
    }

    // Responsive styles for login page
    @media (min-width: 320px) and (max-width: 768px) {
      padding: 1em;
      height: 100vh;

      .login-title {
        h1 {
          font-size: 2em;
        }

        p {
          font-size: 1.2em;
        }
      }
    }
  }
}

