<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Acelya Lejeune - Web Developer and Graphic Designer">
	<meta
		content="web, developer, designer, portfolio, web developer, web designer, graphic designer, acelya lejeune, lejeune, frontend, web developer liege, web designer liege"
		name="keywords">

	<!-- Main Css file -->
	<link rel="stylesheet" href="../css/styles.css">

	<!-- Favicon -->
    <link href="../assets/icons/favicon.png" rel="icon" type="image/png">
	
	<!-- Google Fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
		rel="stylesheet">

	<!-- Title -->
	<title>Acelya Lejeune - Web Developer and Graphic Designer</title>
</head>

<body>
	<!-----------------------------------------------------------------
                               Footer
    ------------------------------------------------------------------>
	<footer id="footer">
		<div class="footer-container container">
			<div class="copyright">
				&copy; Copyright, design and development by <a class="github" href="https://github.com/LejeuneA/portfolio-lejeune"
					target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Açelya
					Lejeune</a>
			</div>
		</div>
	</footer>
		<!-----------------------------------------------------------------
                               Footer end
    ------------------------------------------------------------------>
		<!-- Font Awesome JS -->
		<script src="https://kit.fontawesome.com/3546d47201.js" crossorigin="anonymous"></script>

		<!-- Include functions.js -->
		<script src="../src/js/index.js"></script>
</body>

</html>