<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
        name="description"
        content="Portfolio d’Açelya Lejeune, designer UX/UI et développeuse front-end à Liège, Belgique, avec des projets en React, TypeScript, Angular, PHP, MySQL, Python, Flask et applications IA.">
    <meta
        name="keywords"
        content="Açelya Lejeune, designer UX/UI, développeuse front-end, design produit, React, TypeScript, Angular, PHP, MySQL, Python, Flask, applications IA, portfolio, Liège, Belgique, travail à distance">

    <link rel="stylesheet" href="../dist/index.css">
    <link href="../assets/icons/favicon.png" rel="icon" type="image/png">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <title>Açelya Lejeune - Designer UX/UI & Développeuse Front-End</title>

    <!-- Analytics -->
    <script
        defer
        src="https://cloud.umami.is/script.js"
        data-website-id="5bf62b4a-7132-4425-a099-12d42e69f1df"
        data-domains="www.acelyalejeune.com,acelyalejeune.com,flowdeck.acelyalejeune.com,quotes.acelyalejeune.com"
        data-tag="portfolio">
    </script>
</head>

<body>
    <footer id="footer">
        <div class="footer-container container">
            <div class="copyright">
                &copy; Copyright, conception et développement par
                <a
                    class="github"
                    href="https://github.com/LejeuneA/portfolio-lejeune"
                    target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa fa-github" aria-hidden="true"></i> Açelya Lejeune
                </a>
            </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/3546d47201.js" crossorigin="anonymous"></script>
    <script defer="defer" src="../dist/runtime.bundle.js"></script>
    <script defer="defer" src="../dist/shared.bundle.js"></script>
    <script defer="defer" src="../dist/index.bundle.js"></script>
    <script defer="defer" src="../dist/nav.bundle.js"></script>
</body>

</html>
