<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
            content="Acelya Lejeune - Web Developer and Graphic Designer">
        <meta
            content="web, developer, designer, portfolio, web developer, web designer, graphic designer, acelya lejeune, lejeune, frontend, web developer liege, web designer liege"
            name="keywords">

        <!-- Main Css file -->
        <link rel="stylesheet" href="../css/styles.css">

        <!-- Favicon -->
        <link href="../assets/icons/favicon.gif" rel="favicon">

        <!-- Google Fonts -->
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">

        <!-- Title -->
        <title>Acelya Lejeune - Web Developer and Graphic Designer</title>
    </head>

    <body>

        <!-----------------------------------------------------------------
                               Navigation
        ------------------------------------------------------------------>
        <header id="header">
            <!-- Profile -->
            <div class="profile">
                <img src="../assets/images/header-photo.jpg" alt
                    class="profile-img">
                <h1 class="text-light"><a href="../index.html">Açelya
                        Lejeune</a></h1>
                <div class="social-links">
                    <a href="https://github.com/lejeunea" class="github"
                        target="_blank"><i class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/acelyalejeune"
                        class="linkedin" target="_blank"><i
                            class="fa fa-linkedin"></i></a>
                    <a href="../public/fr.html" class="language"
                        target="_blank"><b>FR</b></a>
                </div>
            </div>

            <!-- Nav Menu -->
            <nav id="navbar" class="nav-menu navbar">
                <ul>
                    <li><a href="../index.html"
                            class="nav-link scrollto active"><i
                                class="fas fa-home"></i> <span>Home</span></a>
                    </li>
                    <li><a href="../index.html#about"
                            class="nav-link scrollto"><i
                                class="fas fa-user"></i>
                            <span>About</span></a></li>
                    <li><a href="../index.html#skills"
                            class="nav-link scrollto"><i
                                class="fas fa-code"></i> <span>Skills</span></a>
                    </li>
                    <li><a href="../index.html#portfolio"
                            class="nav-link scrollto"><i
                                class="fas fa-list"></i>
                            <span>Portfolio</span></a></li>
                    <li><a href="../index.html#services"
                            class="nav-link scrollto"><i
                                class="fas fa-tools"></i>
                            <span>Services</span></a>
                    </li>
                    <li><a href="../index.html#contact"
                            class="nav-link scrollto"><i
                                class="fas fa-envelope"></i>
                            <span>Contact</span></a>
                    </li>
                </ul>
                <div class="btn-resume">
                    <a class="btn-resume"
                        href="../assets/resume/CV_LEJEUNE_EN.pdf"
                        download>Download CV</a>
                </div>
            </nav>
            <!-- End Nav Menu -->
        </header>
        <!-- End Header -->

        <!---------------------------------------------------------------
                             Offcanvas menu
        ----------------------------------------------------------------->
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn"
                onclick="closeNav()">&times;</a>
            <!-- Profile -->
            <div class="profile">
                <img src="../assets/images/header-photo.jpg" alt
                    class="profile-img">
                <h1 class="text-light"><a href="../index.html">Açelya
                        Lejeune</a></h1>
                <div class="social-links">
                    <a href="https://github.com/lejeunea" class="github"
                        target="_blank"><i class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/acelyalejeune"
                        class="linkedin" target="_blank"><i
                            class="fa fa-linkedin"></i></a>
                    <a href="../public/fr.html" class="language"
                        target="_blank"><b>FR</b></a>
                </div>
            </div>

            <!-- Nav Menu -->
            <nav id="navbar" class="nav-menu navbar">
                <ul>
                    <li><a href="../index.html"
                            class="nav-link scrollto active"><i
                                class="fas fa-home"></i> <span>Home</span></a>
                    </li>
                    <li><a href="../index.html#about"
                            class="nav-link scrollto"><i
                                class="fas fa-user"></i>
                            <span>About</span></a></li>
                    <li><a href="../index.html#skills"
                            class="nav-link scrollto"><i
                                class="fas fa-code"></i> <span>Skills</span></a>
                    </li>
                    <li><a href="../index.html#portfolio"
                            class="nav-link scrollto"><i
                                class="fas fa-list"></i>
                            <span>Portfolio</span></a></li>
                    <li><a href="../index.html#services"
                            class="nav-link scrollto"><i
                                class="fas fa-tools"></i>
                            <span>Services</span></a>
                    </li>
                    <li><a href="../index.html#contact"
                            class="nav-link scrollto"><i
                                class="fas fa-envelope"></i>
                            <span>Contact</span></a>
                    </li>
                </ul>
                <div class="btn-resume">
                    <a class="btn-resume"
                        href="../assets/resume/CV_LEJEUNE_EN.pdf"
                        download>Download CV</a>
                </div>
            </nav>
            <!-- End Nav Menu -->
            <!-- End Offcanvas Menu -->

            <!-- Hamburger Icon -->
            <div class="navbar-hamburger">
                <div id="hamburger" onclick="openNav()"><i
                        class="fa-solid fa-bars"></i></div>
            </div>
            <!-- End Hamburger Icon -->
            <!-----------------------------------------------------------------
                            Navigation end
            ------------------------------------------------------------------>

            <!-- Font Awesome JS -->
            <script src="https://kit.fontawesome.com/3546d47201.js"
                crossorigin="anonymous"></script>

            <!-- Include functions.js -->
            <script src="../js/main.js"></script>
        </body>

    </html>