@use 'custom';
@use 'mixins';
@use 'extends';
@use 'global';

/* -----------------------------------------------------------------
                      About us header
 ----------------------------------------------------------------- */

.header-image--about-us {
  @extend %header-image;
  background-image: url(../assets/images/stack-books.jpg);

}

/* -----------------------------------------------------------------
                      About us information
 ----------------------------------------------------------------- */

.information-top {
  @extend %information-top;
}

.information-bottom {
  @extend %information-bottom;

  .information-bottom-right--about-us {
    ul {
      li {
        span {
          &:last-child {
            font-weight: 200;
            font-size: 1.1rem;
          }
        }

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        &:first-child {
          font-size: 1.3em;
          color: $primary-red;
          font-weight: 200;
        }
      }
    }
  }
}

/* -------------------------------------------------------
                   About us responsive
---------------------------------------------------------*/

@media (min-width: 320px) and (max-width: 1200px) {
  .header-image--about-us {
    height: 20em;
  }

  h1 {
    font-size: 2em;
  }

  .introduction {
    padding: 2em 3em;
  }

  .information-top {
    p {
      text-align: center;
    }
  }

  .information-bottom {
    flex-direction: column;

    .information-bottom-left {
      p {
        text-align: center;
      }
    }

    .information-bottom-left,
    .information-bottom-right {
      width: 100%;
      max-width: 100%;
    }
  }
}