@use "custom";
@use "mixins";
@use "global";

/* -------------------------------------------------------
                Define extend for header image
---------------------------------------------------------*/
%header-image {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  h1 {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $light-blue;
    font-family: "Chelsea Market", system-ui;
    font-weight: bold;
    font-size: 3rem;
    z-index: 2;
    text-shadow: $text-shadow-primary;
  }

  p {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $light-blue;
    font-size: 1.3rem;
    font-weight: 300;
    z-index: 3;
  }
}

/* -------------------------------------------------------
        Define extend for information top
---------------------------------------------------------*/
%information-top {
  background-color: $tertiary-blue;

  .container {
    flex-direction: column;
  }
}

/* -------------------------------------------------------
        Define extend for information bottom
---------------------------------------------------------*/
%information-bottom {
  display: flex;
  flex-direction: row;
  gap: 2em;

  .information-bottom-left {
    width: 100%;
    max-width: 100%;
    justify-content: flex-start;
  }

  .information-bottom-right {
    width: 40%;
    justify-content: flex-end;
    background-color: $primary-blue;
    text-align: center;
    padding: 2em;
    color: $light-blue;

    h3 {
      font-family: "Great Vibes", cursive;
      font-size: 2em;
      color: $light-blue;
      letter-spacing: 0.2rem;
    }

    ul {
      padding: 0;
      margin-bottom: 0;

      a {
        color: $secondary-blue;
        font-weight: 200;
        font-size: 1.1rem;

        @include hover("background-color", $primary-blue, "color", $primary-red);
      }
    }
  }
}

/* -------------------------------------------------------
        Define extend for product price
---------------------------------------------------------*/
%product-price {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 30%;
  height: auto;
  border-left: 1px solid $primary-blue;
  padding: 3em 2em;

  p {
    text-align: start;
    font-weight: 700;
    line-height: 1.5em;
    text-align: justify;
    padding: 0.5em 0;
    color: $primary-red;
    font-size: 2em;

    span {
      font-weight: 200;
      font-size: 0.5em;
      display: block;
      line-height: 1.5em;

      &:first-child {
        margin-top: 1em;
      }

      i {
        margin-right: 0.5em;
      }
    }
  }

  .btn-primary {
    text-align: start;
    margin-top: 2em;

    i {
      margin-right: 0.5em;
    }

    @include hover("background-color", $secondary-blue, "color", $primary-blue);
  }
}

/* -------------------------------------------------------
        Define extend for advantage icons
---------------------------------------------------------*/
%advantage-icons {
  @include d-flex(flex, center, center, row, center);
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  padding: 3em 0;
  .advantage-icons-container {
    @include d-flex(flex, center, center, row, center);
    
    .article-preview-container {
      @include d-flex(flex, center, flex-start, row, center);
      gap: 2em;

      article {
        flex: 0 0 auto;
        width: 14em;
        height: auto;

        img {
          width: 100%;
          max-width: 100px;
          height: auto;
        }

        h3 {
          font-weight: 400;
        }

        p {
          text-align: center;
          line-height: 1.3em;
          font-size: 1em;
          font-weight: 200;
          padding-top: 0.5em;
        }
      }
    }
    @media (min-width: 320px) and (max-width: 768px) {
      .article-preview-container {
        @include d-flex(flex, center, center, column, center);
      }
    }
  }
}

/* -------------------------------------------------------
             Define extend for forms
---------------------------------------------------------*/
%form-ctrl {
  width: 100%;
  margin-bottom: 1em;

  label {
    color: $secondary-blue;
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  input {
    width: 100%;
    padding: 0.6em;
    border: 1px solid $secondary-blue;
    border-radius: 0.3em;
    box-sizing: border-box;
    margin-top: 0.4em;
    margin-bottom: 1em;
    resize: vertical;
    outline: none;
    color: $primary-blue;
  }

  input::placeholder,
  textarea::placeholder {
    font-family: "Poppins", sans-serif;
    font-size: small;
    font-style: italic;
    color: $primary-blue;
  }

  input:focus,
  select:focus,
  textarea:focus {
    border: 1px solid $secondary-blue;
    box-shadow: 0 0 10px $secondary-blue;
  }

  input:focus-visible,
  select:focus-visible,
  textarea:focus-visible {
    outline: 1px solid $secondary-blue;
  }

  select {
    border-radius: 0.3em;
    color: $primary-blue;
    background-color: $light-blue;
    font-size: 1em;
    border: 1px solid $secondary-blue;

    option {
      color: $light-blue;
      background-color: $primary-blue;
    }
  }
}

/* -------------------------------------------------------
             Define extend for tables
---------------------------------------------------------*/
%table-style {
  @include d-flex(flex, center, center, column, center);
  width: 100%;

  h1 {
    margin: 1.5em 0;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    color: $primary-blue;
    margin-bottom: 5em;

    tr {
      border: 1px solid $light-blue;
      height: 3em;

      &:nth-child(even) {
        background-color: $light-blue;
      }

      &:first-child {
        border: 0;

        &:hover {
          background-color: transparent;
        }
      }

      &:last-child {
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
      }

      &:hover {
        background-color: $tertiary-blue;
      }

      th {
        font-size: 1.2em;
        font-weight: 300;
        padding: 0.5em 1em;
        color: $light-blue;
        background-color: $primary-blue;
        width: 100%;

        &:first-child {
          border-top-left-radius: 1em;
        }

        &:last-child {
          border-top-right-radius: 1em;
        }

        &:nth-child(1) {
          width: 9%;
        }

        &:nth-child(2) {
          width: 20%;
        }

        &:nth-child(3) {
          width: 12%;
        }

        &:nth-child(4) {
          width: 7%;
        }

        &:nth-child(5) {
          width: 7%;
        }

        &:nth-child(6) {
          width: 7%;
        }

        &:nth-child(7) {
          width: 37%;
        }
      }

      td {
        &:nth-child(1) {
          font-weight: 600;
        }

        &:nth-child(4) {
          font-size: 0.8em;
        }

        .btn-primary {
          @include button-style($primary-red, $light-blue, $secondary-blue, $light-blue);
          margin: 0.3em;
          width: 7em;
        }

        .btn-secondary {
          @include button-style($primary-blue, $light-blue, $secondary-blue, $light-blue);
          margin: 0.3em;
          width: 7em;
        }
      }
    }
  }

  // Responsive styles for table
  @media (min-width: 320px) and (max-width: 768px) {
    overflow-y: visible;

    h1 {
      margin-bottom: 0;
    }

    table {
      border: 0;
      font-size: small;

      tr {
        border: 0;
        display: block;
        padding: 1em;

        &:nth-child(even) {
          background-color: transparent;
        }

        &:hover {
          background-color: transparent;
        }

        th {
          display: none;
        }

        td {
          display: block;
          font-size: 1em;
          text-align: right;
          background-color: $light-blue;
          padding: 1em;

          &:before {
            content: attr(data-cell);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
          }

          &:nth-child(even) {
            background-color: $tertiary-blue;
          }

          &:nth-child(1) {
            background-color: $primary-blue;
            color: $light-blue;
          }

          &:nth-child(4) {
            font-size: 1em;
          }

          &:first-child {
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
          }

          &:last-child {
            background-color: $primary-blue;
            text-align: center;
            border-bottom-left-radius: 1em;
            border-bottom-right-radius: 1em;
          }

          .btn-primary {
            width: 15em;
          }

          .btn-secondary {
            @include button-style($secondary-blue, $light-blue, $primary-red, $light-blue);
            margin: 0.3em;
          }
        }
      }
    }
  }
}

@forward "%header-image";
@forward "%information-top";
@forward "%information-bottom";
@forward "%product-price";
@forward "%advantage-icons";
@forward "%form-ctrl";
@forward "%table-style";
