@use "custom";
@use "mixins";
@use "extends";
@use "global";

/* -------------------------------------------------------
					Accueil header
---------------------------------------------------------*/

.header-image--home {
	@extend %header-image;
	background-image: url(../assets/images/textbook.jpg);

	.btn-primary {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 80%;
		height: 100%;
		clip-path: polygon(14% 0, 100% 0, 100% 38%, 34% 53%, 0 24%);
		z-index: 1;
		padding: 2em;

		box-shadow: $box-shadow-primary;
		-webkit-box-shadow: $box-shadow-primary;
		-moz-box-shadow: $box-shadow-primary;

		background: linear-gradient(
			to bottom,
			rgba(240, 84, 85, 0.5) 10%,
			rgba(132, 192, 225, 0.3) 20%,
			rgba(48, 71, 94, 0.3) 100%
		);
	}
}

/* -------------------------------------------------------
				Accueil header responsive
---------------------------------------------------------*/

/* Media queries for xs, sm, and md screens */
@media (min-width: 320px) and (max-width: 768px) {
	.header-image--home {
		background-size: cover;
		height: 25em;

		h1 {
			top: 8%;
			font-size: 1.3rem;
			width: 100%;
		}

		p {
			top: 27%;
			font-size: 0.9em;
			width: 90%;
			line-height: 1.2em;
		}

		.btn-primary {
			top: 48%;
			text-align: center;
			font-size: 0.9em;
			width: 65%;
		}

		&::before {
			clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 65%, 0% 50%);
			width: 100%;
			padding: 0;

			background: linear-gradient(
				to bottom,
				rgba(240, 84, 85, 0.5) 0,
				rgba(132, 192, 225, 0.3) 20%,
				rgba(48, 71, 94, 0.3) 100%
			);
		}
	}
}

@media (min-width: 769px) and (max-width: 1332px) {
	.header-image--home {
		background-size: cover;

		h1 {
			top: 15%;
			font-size: 2.6rem;
			width: 100%;
		}

		p {
			top: 28%;
			font-size: 1.3rem;
			width: 80%;
		}

		.btn-primary {
			top: 40%;
			text-align: center;
			font-size: larger;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&::before {
			width: 95%;
			padding: 1em;
		}
	}
}

/* ----------------------------------------------------------
                        Accueil header end
 ---------------------------------------------------------- */

/* ----------------------------------------------------------
				   Article preview - Livres
------------------------------------------------------------*/
.article-preview {
	display: flex;
	justify-content: start;
	flex-direction: column;
	align-items: start;
	padding: 4em 0;

	h2 {
		text-align: left;
		font-weight: 200;
		font-size: 2em;
		margin-top: 0;
		margin-bottom: 1.5em;
		padding: 0;

		span {
			font-weight: 600;
			color: $primary-red;
		}
	}

	.slideshow-container {
		flex-direction: column;

		.article-preview-container {
			@include d-flex(flex, center, flex-start, row, center);
			gap: 3em;

			.article {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

				img {
					height: auto;
					width: 15em;
				}

				.article-title {
					text-align: center;
					font-weight: 600;
					font-size: 1.2em;
					margin-top: 1em;
				}

				.article-writer {
					text-align: center;
					padding: 0;
					margin: 0;
					font-weight: 400;
					font-size: 1em;
				}

				.article-feature {
					font-weight: 200;
					font-size: 0.9em;
					display: block;
					line-height: 1.2em;
				}
			}
		}
	}

	/* -----------------------------------------------------------
			  Article preview - Livres responsive
	------------------------------------------------------------*/
	@media (min-width: 320px) and (max-width: 768px) {
		flex-direction: column;
		justify-content: center;

		h2 {
			text-align: center;
			font-size: 1.6em;
			margin: 1em auto;
		}

		.article-preview-container {
			flex-wrap: wrap;
		}
	}

	@media (min-width: 769px) and (max-width: 1332px) {
		h2 {
			text-align: center;
			font-size: 1.6em;
			margin: 1em auto;
		}

		.article-preview-container {
			flex-wrap: wrap;
		}
	}
}

/* ----------------------------------------------------------
				  Article preview - Livres end
------------------------------------------------------------*/

/* -----------------------------------------------------------
				  Best-sellers paragraph
------------------------------------------------------------*/
.best-sellers {
	width: 100%;
	height: auto;
	background-color: $primary-blue;
	overflow: visible;
	position: relative;

	.container {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-direction: row;
		gap: 2em;
		overflow: visible;
		padding: 3em 0;

		.best-sellers-left {
			position: absolute;
			width: 50%;
			height: 25em;
			background-image: url(../assets/images/space-library.jpg);
			background-size: cover;
			background-position: center;
			z-index: 1;
			left: 0;
			top: 0;

			clip-path: polygon(0% 0%, 84% 0%, 100% 30%, 45% 100%, 0% 40%);
		}

		.best-sellers-right {
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			padding: 1rem;

			h2 {
				font-family: "Chelsea Market";
				color: $light-blue;
				font-size: 2em;
				margin: 0;
				padding: 0;
			}

			p {
				color: $light-blue;
				font-weight: 200;
			}

			.btn-primary {
				&:hover {
					background-color: $secondary-blue;
				}
			}
		}
	}

	/* -----------------------------------------------------------
				  Best-sellers paragraph responsive
	------------------------------------------------------------*/
	@media (min-width: 320px) and (max-width: 1332px) {
		overflow: hidden;
		height: 50em;

		.container {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 1.5em;
			gap: 1em;
			overflow: hidden;

			.best-sellers-left {
				width: 100%;
				height: 30em;

				clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0% 80%);
			}

			.best-sellers-right {
				width: 100%;
				height: auto;
				align-items: center;
				padding: 0;
				position: absolute;
				top: 80%;
				left: 50%;
				transform: translate(-50%, -50%);

				h2 {
					font-size: 1.3em;
					padding: 0 1em;
				}

				p {
					font-size: 1em;
					padding: 1.5em 1em;
					line-height: 1.5em;
					text-align: center;
				}
			}
		}
	}

	@media (min-width: 769px) and (max-width: 1332px) {
		.best-sellers {
			.container {
				.best-sellers-right {
					h2 {
						font-size: 1.7em;
					}

					p {
						padding: 2em;
					}
				}
			}
		}
	}
}

/* -----------------------------------------------------------
			Best-sellers paragraph responsive end
------------------------------------------------------------*/
/* -----------------------------------------------------------
				  Edition special paragraph
------------------------------------------------------------*/
.edition-special {
	position: relative;
	width: auto;
	height: 35em;
	background-image: url(../assets/images/sign-banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	display: flex;
	justify-content: center;
	align-items: center;

	p {
		position: absolute;
		top: 68%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: $light-blue;
		font-size: 1.3rem;
		font-weight: 200;
		margin: 0;
		width: 100%;
	}

	.btn-secondary {
		position: absolute;
		bottom: 8%;
		left: 50%;
		transform: translate(-50%, 0);
		color: $yellow;

		@include hover("background-color", $yellow, "color", $primary-blue);
	}

	/* -----------------------------------------------------------
				  Edition special paragraph responsive
	------------------------------------------------------------*/
	@media (min-width: 320px) and (max-width: 768px) {
		height: 17em;

		p {
			font-size: 0.9em;
			line-height: 1.5em;
		}

		.btn-secondary {
			width: 70%;
			bottom: 8%;
		}
	}

	@media (min-width: 769px) and (max-width: 1332px) {
		height: 17em;

		p {
			font-size: 1.2em;
			line-height: 1.5em;
		}
	}
}

/* -----------------------------------------------------------
				Edition special paragraph end
------------------------------------------------------------*/

/* -----------------------------------------------------------
					  Advantage icons
------------------------------------------------------------*/
.advantage-icons {
	@extend %advantage-icons;

	background-color: $tertiary-blue;
}

/* -----------------------------------------------------------
				   Advantage icons end
------------------------------------------------------------*/
