@use 'custom';
@use 'mixins';
@use 'extends';
@use 'global';

/* -----------------------------------------------------------------
                        Stationery header
 ----------------------------------------------------------------- */

 .header-image--stationery {
    @extend %header-image;
    background-image: url(../assets/images/office-supplies.jpg);
    background-position: center;

    h1 {
        top: 50%;
        color: $primary-red;
        width: 100%;
    }

    p {
        top: 60%;
        color: $primary-blue;
        margin-top: 1em;
        width: 100%;
    }
}

/* -------------------------------------------------------
                Stationery header responsive
---------------------------------------------------------*/

/* Media queries for xs, sm, and md screens */
@media (min-width: 320px) and (max-width: 768px) {
    .header-image--stationery{
        background-size: cover;
        height: 25em;

        h1 {
            top: 50%;
            font-size: 1.7em;
        }

        p {
            top: 60%;
            font-size: 1em;
        }
    }
}

/* -------------------------------------------------------
                Stationery header end
---------------------------------------------------------*/
/* -------------------------------------------------------
                     Papeteries
---------------------------------------------------------*/
.stationery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    height: auto;
    width: 100%;

    .article-container {
        @include d-flex(flex, space-between, center, row, center);
        
        width: 100%;
        border: 1px solid $dark-blue;
        padding: 1em;
        gap: 2em;

        &:first-child {
            margin-top: 4em;
        }

        .product-img {
            img {
                height: auto;
                width: 12em;
                vertical-align: middle;
            }
        }

        .product-info {
            @include d-flex(flex, start, start, column, start);
            
            width: calc(70% - 12em);
            height: 100%;

            h2 {
                text-align: start;
                font-weight: 500;
                font-size: 1.5em;
                margin: 0;
                padding: 0;
            }

            p {
                text-align: start;
                font-weight: 200;
                line-height: 1.6em;
                text-align: justify;
                padding: 0.5em 0;
            }

            .product-description {
                p {
                    font-weight: 200;
                    margin: 1em 0;
                }
            }

            .more-info {
                color: $primary-red;
                font-weight: 500;
                font-size: 1.2em;

                @include hover("color", $secondary-blue, "text-decoration", none);
            }
        }

        .product-price {
            @extend %product-price;
        }
    }
}

@include pagination;

/* -------------------------------------------------------
               Papeteries responsive
---------------------------------------------------------*/
/* Media queries for xs, sm, and md screens */
@media (min-width: 320px) and (max-width: 768px) {
    .stationery-container {
        .article-container {
            @include d-flex(flex, center, center, column, center);
            
            width: 100%;
            height: auto;
            border: 1px solid $dark-blue;

            .product-img {
                img {
                    height: auto;
                    width: 16em;
                }
            }

            .product-info {
                @include d-flex(flex, center, center, column, center);
                
                width: 100%;

                h2 {
                    text-align: center;
                    font-size: 1.2em;
                    list-style: 1.2em;
                }

                p {
                    text-align: center;
                    font-size: 0.9em;
                }

                .product-description {
                    text-align: center;
                }
            }

            .product-price {
                @include d-flex(flex, center, center, column, center);
                
                align-content: space-between;
                width: 100%;
                border-top: 1px solid $primary-blue;
                border-left: none;
                padding: 0.5em;
                margin-top: 1em;

                p {
                    @include d-flex(flex, center, center, column, center);
                    
                    font-weight: 700;
                    line-height: 1.3em;
                    padding: 0.5em 0;
                    color: $primary-red;
                    font-size: 2em;

                    span {
                        font-weight: 200;
                        font-size: 0.9rem;
                        display: block;
                        line-height: 1.7em;

                        &:first-child {
                            margin-top: 1em;
                        }

                        i {
                            margin-right: 0.5em;
                        }
                    }
                }

                .btn-primary {
                    text-align: center;
                }
            }
        }
    }

    .pagination {
        font-size: 0.8em;

        a {
            padding: 6px 12px;
        }
    }
}

@media (min-width: 769px) and (max-width: 1332px) {
    .stationery-container {
        .article-container {
            @include d-flex(flex, center, center, column, center);
            
            width: 90%;
            height: auto;
            border: 1px solid $dark-blue;

            .product-img {
                img {
                    height: auto;
                    width: 15em;
                    vertical-align: middle;
                }
            }

            .product-info {
                @include d-flex(flex, center, center, column, center);
               
                width: 100%;

                p {
                    text-align: center;
                }

                .product-description {
                    text-align: center;
                }
            }

            .product-price {
                @include d-flex(flex, center, center, column, center);
                
                align-content: space-between;
                width: 100%;
                border-top: 1px solid $primary-blue;
                border-left: none;
                padding: 1em;
                margin-top: 1em;

                p {
                    @include d-flex(flex, center, center, column, center);
                    
                    font-weight: 700;
                    line-height: 1.3em;
                    padding: 0.5em 0;
                    color: $primary-red;
                    font-size: 2em;

                    span {
                        font-weight: 200;
                        font-size: 0.5em;
                        display: block;
                        line-height: 1.7em;

                        &:first-child {
                            margin-top: 1em;
                        }
                    }
                }

                .btn-primary {
                    text-align: center;
                }
            }
        }
    }
}

/* -------------------------------------------------------
                   Papeteries end
---------------------------------------------------------*/