@use 'custom';
@use 'mixins';
@use 'extends';
@use 'global';

/* -----------------------------------------------------------------
                    Qui sommes-nous header
 ----------------------------------------------------------------- */

.header-image--work-with-us {
    @extend %header-image;
    background-image: url(../assets/images/happy-woman-bookshelf.jpg);

}

.information-top {
    @extend %information-top;
}

.information-bottom {
    @extend %information-bottom;

    .information-bottom-right--work-with-us {
        ul {
            li {
                &:first-child {
                    font-size: 1em;
                    color: $light-blue;
                    font-weight: 400;
                }
            }
        }
    }
}

/* -------------------------------------------------------
                   About us responsive
---------------------------------------------------------*/

@media (min-width: 320px) and (max-width: 1200px) {
    .header-image--work-with-us {
        height: 20em;
    }

    h1 {
        font-size: 2em;
    }

    .introduction {
        padding: 2em 3em;
    }

    .information-top {
        p {
            text-align: center;
        }
    }

    .information-bottom {
        flex-direction: column;

        .information-bottom-left {
            p {
                text-align: center;
            }
        }

        .information-bottom-left,
        .information-bottom-right {
            width: 100%;
            max-width: 100%;
        }
    }
}