<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Découvrez Librairie Lejeune pour des livres, fournitures de papeterie et cadeaux uniques. Parcourez notre sélection dès aujourd'hui!">

    <!-- Custom Sass file -->
    <link rel="stylesheet" href="../css/styles.css">

    <!-- Google Fonts Preconnect and Link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Favicon -->

    <!-- Title -->
    <title>Librairie Lejeune</title>
</head>

<body>
    <!-----------------------------------------------------------------
                               Footer
    ------------------------------------------------------------------>
    <footer>
    <!-----------------------------------------------------------------
                        Footer upper section
    ------------------------------------------------------------------>
        <div class="upper-footer-container">
            <!-- Upper footer -->
            <div class="upper-footer container">
                <!-- Logo column -->
                <div class="footer-brand">
                    <a href="../index.php">
                        <img src="../assets/logo/librairie-lejeune-white.png" alt="Librarie Lejeune Logo" />
                    </a>
                </div>
                <!-- Logo column end-->

                <!-- Contact us column -->
                <div class="footer-contact">
                    <h3>CONTACTEZ-NOUS</h3>
                    <ul>
                        <li>
                            <a href="../public/contact.html" class="">Contact</a>
                        </li>
                        <li>
                            <i class="fa-regular fa-envelope"></i>
                            <a href="mailto:contact@acelyalejeune.be">Envoyez-nous un message</a>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            Téléphonez-nous au <br>0493 38 77 29
                        </li>
                        <li>
                            <b>Permanence téléphonique:</b><br>
                            Lundi au vendredi 09:00 - 18:00 <br>
                            Samedi 09:00 - 16:00
                        </li>
                    </ul>
                </div>
                <!-- Contact us column end -->

                <!-- About us column -->
                <div class="footer-about-us">
                    <h3>À PROPOS DE NOUS<h3>
                            <ul>
                                <li>
                                    <a href="../public/about-us.html">Qui sommes-nous?</a>
                                </li>
                                <li>
                                    <a href="../public/work-with-us.html">Travailler chez nous</a>
                                </li>
                                <li>
                                    <a href="../public/conditions.html">Conditions générales</a>
                                </li>
                            </ul>
                </div>
                <!-- About us column end -->

                <!-- Follow us column -->
                <div class="footer-follow-us">
                    <h3>SUVEZ-NOUS SUR</h3>
                    <div class="footer-social-icons">
                        <p>
                            Rejoignez-nous sur Facebook, Twitter et <br>
                            Instagram pour être tenus au courant de <br>
                            notre actualité.
                        </p>
                        <div class="social-icons">
                            <!-- Facebook -->
                            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <!-- Twitter -->
                            <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
                                <i class="fa-brands fa-x-twitter"></i>
                            </a>
                            <!-- Instagram -->
                            <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>

                        <p>343 Rue Saint-Gilles <br> 4000 Liége - Belgique</p>
                    </div>
                </div>
                <!-- Follow us column end -->
            </div>
        </div>
    <!-----------------------------------------------------------------
                        Footer upper section
    ------------------------------------------------------------------>
    <!-----------------------------------------------------------------
                        Footer bottom section
    ------------------------------------------------------------------>
        <div class="bottom-footer-container">
            <!-- Section: Copyright -->
            <div class="bottom-footer container">
                <!-- Copyright column -->
                <div>
                    © 2024 Copyright tous droits réservés
                </div>
                <!-- Copyright column end -->

                <!-- Conception and development column -->
                <div>
                    Conception et développement par
                    <a href="https://github.com/lejeunea" class="github text-decoration-none">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="https://github.com/lejeunea" class="text-decoration-none">Açelya Lejeune</a>.
                </div>
                <!-- Conception and development column end -->
            </div>
            <!-- Section: Copyright -->
        </div>
        <!-----------------------------------------------------------------
                        Footer bottom section end
        ------------------------------------------------------------------>
    </footer>
    <!-----------------------------------------------------------------
                               Footer
    ------------------------------------------------------------------>

    <!-- Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js" integrity="sha512-u3fPA7V8qQmhBPNT5quvaXVa1mnnLSXUep5PS1qo5NRzHwG19aHmNJnj1Q8hpA/nBWZtZD4r4AX6YOt5ynLN2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Include functions.js -->
    <script src="../js/functions.js"></script>
</body>

</html>