@use "custom" as *;
@import "mixins";
@import "extends";
@import "global";

/*--------------------------------------------------------------
                        # Skills Section
--------------------------------------------------------------*/

.skills-section {
    @include d-flex(flex, start, start, column, start);

    background-color: rgba($primary-green, 0.2);
    overflow: hidden;
    width: 100%;

    .skills-container {
        @include d-flex(flex, start, start, column, start);
        gap: 2em;
        width: 100%;

        h2 {
            font-size: 2em;
            font-weight: bold;
            padding-bottom: 0.5em;
            position: relative;
            color: $dark-green;

            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 2em;
                height: 0.1em;
                background: $primary-green;
                bottom: 0;
                left: 0;
            }
        }

        h3 {
            font-size: 1.5em;
            font-weight: bold;
            position: relative;
            color: $dark-green;
        }

        .skills-content {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-gap: 1.5em;
            width: 100%;

            .skills-list-container {
                display: grid;
                grid-auto-flow: row;
                grid-auto-rows: auto;
                grid-gap: 0.5em;

                h3 {
                    width: 100%;
                    margin-bottom: 0.5em;
                }

                .skills-list {
                    display: grid;
                    grid-auto-flow: column;
                    grid-auto-columns: auto;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    width: 100%;

                    li {
                        padding: 0.5em;
                        position: relative;
                        color: $light-green;
                        font-weight: 500;
                        font-size: 1em;
                        margin-right: 0.5em;
                        background-color: $background;
                        text-align: center;
                    }
                }
            }
        }
    }

    // Responsive styles for small screens
    @media (min-width: 320px) and (max-width: 768px) {
        .skills-container {
            .skills-content {
                @include d-flex(flex, center, start, column, start);
                gap: 2em;
                width: 100%;

                .skills-list-container {
                    display: grid;
                    grid-auto-flow: row;
                    grid-auto-rows: auto;
                    grid-gap: 0.5em;
                    width: 100%;

                    .skills-list {
                        grid-auto-flow: row;
                        grid-auto-rows: auto;

                        li {
                            margin-bottom: 0.5em;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
